nav {
  position: sticky;
  width: 100%;

  .leftGroup {
    width: 20%;
  }

  .centerGroup {
    width: 60%;
  }

  .rightGroup {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
}


.themeToggler {
  width: 280px;

  small {
    margin-left: 2px;
  }

  .togglerContainer {
    text-align: right;
    padding-right: 10px;
    margin-right: 14px;
  }
}
