<nav class="{{appTheme}} mat-app-background">
    <mat-toolbar>

        <div class="leftGroup">
            <button mat-icon-button [matTooltip]="'Profile'" (click)="router.navigate(['auth/profile'])">
                <i class="fa fa-user"></i>
            </button>
        </div>

        <div class="centerGroup">

        </div>

        <div class="rightGroup">
            <!-- Settings button and its menu -->
            <button mat-icon-button [matMenuTriggerFor]="menu" [matTooltip]="'Settings'" class="settings">
                <i class="fa fa-cog"></i>
            </button>
            <mat-menu #menu="matMenu" class="{{appTheme}}">
                <mat-card>
                    <div class="themeToggler">
                        <small>Theme</small>
                        <mat-divider></mat-divider>
                        <div class="togglerContainer">
                            light
                            <mat-slide-toggle color="primary" (change)="changeTheme()"
                                              [checked]="appTheme==='dark'">dark
                            </mat-slide-toggle>
                        </div>
                    </div>
                </mat-card>
            </mat-menu>

            <!-- Logout button -->
            <button mat-icon-button [matTooltip]="'Logout'" (click)="logout()" *ngIf="auth.loggedIn()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>

    </mat-toolbar>
</nav>
