/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Back button in forms pages
.backBtn {
  min-width: 37px !important;
  padding: 0 !important;
  margin-right: 20px !important;
}

.mat-menu-panel {
  overflow: hidden !important;
  border-radius: unset !important;
}

.mat-menu-content {
  padding: 0 !important;

  .mat-card {
    border-radius: unset !important;
  }
}

.mat-form-field {
  display: block !important;
}

